<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genre Page</title>
    <link rel="stylesheet" href="/css/genre.css">
</head>
<body>
    <nav class="navbar">
    

        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#genre">Food Genre</a></li>
            <li><a href="#hashtags">HashTags</a></li>
    
    
        </ul>
    </nav>
    <div class="title">
        <h1 th:text="${foodGenre.genre}">Food Genre Title</h1>
        <!-- need thyme leaf to change different genre title -->
    </div>

    <section>
        <div class="restaurantList">
        <h1 >Restaurant List</h1>
        <ul>
            <li th:each="restaurant:${foodGenre.restaurants}">
                <!-- fix a syntax -->
                <a  th:href = "'/restaurants/'+${restaurant.id}">

                    <h3 th:text="${restaurant.name}"></h3>

                </a>
            </li>
        </ul>
        </div>
    </section>
</body>
</html>