<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genre Page</title>
    <link rel="stylesheet" href="/static/css/genre.css">
</head>
<body>
    <div>
        <h1 th:text="sdsdvmsfvkjdfv">Food Genre Tittle</h1>
        <!-- need thyme leaf to chage diiferent genre title -->
    </div>

    <section>
        <!-- use thyme leaf to generate reasturant list -->
        <h1 >Restaurant List</h1>
        <ul>
            <li>restaurant 1</li>
            <li>restaurant 2</li>
            <li>restaurant 3</li>
            <li>restaurant 4</li>
        </ul>
    </section>
</body>
</html>