<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/foodGenre.css">
    <meta charset="UTF-8">
    <title>Food Genre</title>
</head>
<body>
    <nav class="navbar">
    

        <ul>
            <li><a href="/RestaurantPrototype.html">Home</a></li>
    
            <li><a href="/hashTags.html">HashTags</a></li>
    
    
        </ul>
    </nav>
<section id="genre">
    <h1 class="foodGenre">Food Genre</h1>
    <div class="columns">
        <section th:each="myGenre:${genres}" class="box">
            <h2 th:text="${myGenre.genre}">Seafood</h2>
            <a th:href="${myGenre.genrePage}"><img class="genreImage" th:src="${myGenre.imgUrl}"></a>
            <p th:text="${myGenre.desc}">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet quo rem architecto, quibusdam nulla vel minima aut veritatis fuga dicta?</p>
        </section>




    </div>
</section>

</body>
</html>