<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/css/hashTags.css">
    <meta charset="UTF-8">
    <title>Hashtag</title>
</head>
<body>
    <nav class="navbar">
    

        <ul>
            <li><a href="/home.html">Home</a></li>
    
            <li><a href="/home.html#genre">Food Genre</a></li>
        </ul>
    </nav>
    <section>
        <h1 class="heading">Spicy</h1>
        <ul>
            <li th:each="restaurant:${hashtag.restaurants }" th:text="${restaurant.name}">restaurant 1</li>

        </ul>
    </section>
</body>
</html>