<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genre Page</title>
    <link rel="stylesheet" href="/css/genre.css">
</head>
<body>
    <div>
        <h1 th:text="${foodGenre.genre}">Food Genre Tittle</h1>
        <!-- need thyme leaf to change different genre title -->
    </div>

    <section>

        <h1 >Restaurant List</h1>
        <ul>
            <li th:each="restaurant:${foodGenre.restaurants}">
                <!-- fix a syntax -->
                <a  th:href = "'/restaurants/'+${restaurant.id}">

                    <h3 th:text="${restaurant.name}"></h3>

                </a>
            </li>
        </ul>
    </section>
</body>
</html>