<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"> </script>

    <link rel="stylesheet" href="/css/restaurant.css">
    <title>Document</title>
</head>
<body>

    <nav class="navbar">


        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="/foodGenre.html">Food Genre</a></li>
            <li><a href="/hashTags.html">HashTags</a></li>


        </ul>
    </nav>

    <section class="restaurant">


        <div class="menu">

            <div class="symb">
                <a th:href="${restaurant.url}"target= "_blank"><img class="logo" th:src="'/'+${restaurant.img}"></a>
            </div>
        </div>



    </section>
    <section>
        <div class="hashtag">
        <H1>Hashtags</H1>
        </div>
        <ul class="hashtagList">
            <li th:each = "hashtag: ${restaurant.hashtags}">
                <!-- fix a syntax -->
                <a  th:href = "'/hashtags/'+${hashtag.id}">

                    <h3 class="hashtagLink" th:text = "${hashtag.name}"></h3>

                </a>
            </li>
        </ul>
    </section>
        </div>

        <div class="t-heading">

            <h1>What fans are saying</h1>
        </div>

<!-- TODO: Write this method :)-->
<form class="form" th:action="'/restaurants/'+${restaurant.id}" method="post">
  <div class="reviewTitle">
    <h2>Reviews</h2>
  </div>
  <div class="foodReview">

    <label for="starRating">Star Rating:</label><br>
  <input type="number" min ="0" max="5" id="starRating" name="starRating" value=""><br>
  <label for="review">Review:</label><br>
      <input type="text" id="review" name="review" value="" size="80" height="10"><br>
      <label for="userName">Name:</label><br>
      <input type="text" id="userName" name="userName" value=""><br>


    <button type="submit"> Submit a review</button>
</div>
</form>

<section id="testimonials">


    <div class="container" th:each = "myReview: ${restaurant.reviews}">
        <!-- ask about how to restrict it by restaurant -->

        <div class="box-wrapper">

            <div class="box-top">

                <div class="profile">
                    <div class="profile-img">
                        <img src="/img/profilePic.jpg" alt="">
                    </div>
                    <div class="user">
                        <strong th:text = "${myReview.name}">Arjin Harris</strong>
                        <span th:text = "${myReview.userName}">@arjinh</span>
                    </div>
                </div>
                <div class="review" >

                    <i th:each="count : ${#numbers.sequence(0, 4)}" th:class="${count < myReview.rating} ?'fas fa-star':'far fa-star'"></i>

                </div>
            </div>

            <div class="comments">
                <p th:text = "${myReview.comments}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita in recusandae modi atque aliquid explicabo
                    incidunt provident ipsa! Laudantium, mollitia! Nemo, fugiat impedit fuga pariatur rem aliquid esse! Tenetur, itaque.</p>
            </div>
        </div>
    </div>




</section>
</body>
</html>